body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  header {
    width: 100%;
    margin: 0;
    padding: 0;
  }

.navbar {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
  }
  
  .logo {
    width: 91px;
    height: 40px;
  }

  h1{
    font-family: "Josefin Sans", sans-serif;
    color: white;
  }

  h3{
    font-family: "Josefin Sans", sans-serif;
  }
  
  
  .search-container {
    position: relative;
    display: inline-block;
  }
  
  .inpuText {
    padding: 3px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 30em;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .suggestions {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .suggestions p {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  .suggestions p:hover {
    background-color: #f0f0f0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .black-frame {
    background-color: black;
    color: white;
    padding-block: 5%;
    margin-bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .white-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: -10px;
    margin-left: 5vh;
    margin-right: 5vh;
  }
  .white-content-admin {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 90vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: -10px;
    margin-left: 5vh;
    margin-right: 5vh;
  }
  .main-index {
    display: flex;
    justify-content: space-around;
  }
  
  .white-content-secondary {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: -10px;
  }

  /* White Content Milieu */
  .post-container-admin{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2%;
  }
  .post-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.post-header {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-options {
    display: flex;
    gap: 15px;
    flex-grow: 1;
}

.post-option {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
}

.iceberg-select select {
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 14px;
}

.post-textarea {
    width: 96%;
    height: 100px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #e8e8e8;
}
  .href-admin{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding:10px;
    color: black;
    font-family: "Josefin Sans", sans-serif;
  }
  .href-admin:hover{
    background-color:#808080;
  }
  .logo-connexion{
    width : 100px;
    height : 100px;
  }
/*------------------------------ COnnexion page ----------------------------*/
  .containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #FFFF;
    width: 50%;
    border-radius: 20px;
    color: white;
  }

  .fontSignIn{
    font-size: 2rem;
  }
  .inputText{
      width: 100%;
  }
  .Loginbody{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
  }

  .FormSign{
    background-color: white;
    border-radius: 0 15px 15px 15px;
    margin: -4px;
    width: 80vh;
  }

  .Divtilte{
    background-color: white;
    width: 10rem;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    margin: -45px 0 0 0;
    padding-top: 1rem;
  }
  
  .DivAll {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .formLogin{
    margin: 0% 0 5% 5%;
  }
  .inputText{
    border-radius: 10px;
    margin-top:5px;
    width: 68vh;
    padding: 1vh;
    background-color: #e9ecef;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-color: #f1f1f1;
  }
  .h3Login{
    margin-top: 2%;
    font-size: 30px;
  }
  .labeLogin{
    font-size: 20px;
    font-weight: bolder;
  }
  .alogin{
    display: inline-block;
    color: black;
  }
  .divLink{
    display: flex;
    justify-content: space-between;
    gap:10vh;
    font-size: 16px;
    color: black;
    padding-top:1vh;
  }
  .buttonSubmit{
    margin: 5% 0% 0% 17%;
    padding: 1vh;
    width: 60%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
  }
  .inputText:hover{
    color:black;
  }
  .buttonSubmit:hover{
    background-color: grey;
  }
  /*-------------------- register page ------------------------------*/
  .FormRegister {
    background-color: white;
    border-radius: 0 15px 15px 15px;
    font-family: "Josefin Sans", sans-serif;
    padding: 3rem;
}

.labelRegister {
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}

.bodyRegister {
    background-color: black;
    width: 100%;
    height: 100%;
}

.containerSign {
    width: 40vh;
}

.h3Div {
    background-color: white;
    width: 10rem;
    padding: 4px;
    border-radius: 15px 15px 0 0;
    height: 2rem;
    display: flex;
    justify-content: center;
}
.h3Register{
    margin-top: 10%;
    font-size: 30px;
    z-index: 1;
}
.divcenter {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.doubleDiv {
    display: flex;
    gap: 5vh;
    margin-top: 3vh;
    justify-content: space-between;
}

.inputSign {
    border-radius: 10px;
    margin-top: 5px;
    width: 68vh;
    padding: 1vh;
    background-color: #e9ecef;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.demiInput {
    border-radius: 10px;
    margin-top: 7px;
    width: 38vh;
    padding: 1vh;
    background-color: #e9ecef;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    border-color: #f1f1f1;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.triDiv {
    border-radius: 10px;
    margin-top: 7px;
    width: 30vh;
    padding: 1vh;
    background-color: #e9ecef;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    border-color: #f1f1f1;

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.DivAllResgister {
    display: grid;
    justify-content: center;
    align-items: center;
}

.LastDiv {
    display: flex;
    gap: 1vh;
    margin-top: 3vh;
}
