body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.indexBody{
  background-color: white;
  color: black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.body_secondary{
  background-color: black;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 2em;
    
  }

.nav_third{
  display: flex;
  align-items: center;
}
  
.logo {
    width: 91px;
    height: 40px;
}

p{
  font-family: "Josefin Sans", sans-serif;
} 

h1{
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 52px;
}

h2{
  font-family: "Josefin Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 24px;
}

h3{
  font-family: "Josefin Sans", sans-serif;
}

option{
  font-family: "Josefin Sans", sans-serif;
}

.button-forum{

}


.search-container {
  position: relative;
  display: inline-block;
}

.inpuText {
  padding: 3px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 50em;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;

}

.suggestions {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.suggestions p {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
}

.suggestions p:hover {
  background-color: #f0f0f0;
}

.black-frame {
  background-color: black;
  color: white;
  padding-block: 5%;
  margin-bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 27vh;
  align-items: center;
}

.white-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 50em;
  max-width: 600px;
  margin-top: -10px;
  margin-left: 5vh;
  margin-right: 5vh;
  box-shadow: inset gray 0px 3px 13px 0px;
}
.white-content-admin {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 90vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: -10px;
  margin-left: 5vh;
  margin-right: 5vh;
}
.main-index {
  display: flex;
  justify-content: space-around;
}

.white-content-secondary {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 14em;
  max-width: 600px;
  margin-top: -10px;
  box-shadow: inset gray 0px 3px 13px 0px;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-menu{
  background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(8, 9, 3, 1);
    width: 20vh;
    margin-bottom: 3vh;
}

/* White Content Milieu */
.post-container-admin{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2%;
}
.post-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

textarea{
  background-color: #e8e8e8;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 6px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-options {
  display: flex;
  gap: 15px;
  flex-grow: 1;
}

.post-option {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
   font-family: "Josefin Sans", sans-serif;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    transition: 1s;
    border-radius: 15px;
    -webkit-transition: width .2s;
}

.post-option:hover {
  transition: 1s;
  transform: scale(1.05); /* Légère augmentation de taille au hover */
  border-radius: 15px;
}

.iceberg-select select {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #e8e8e8;
}



.post-textarea {
  width: 96%;
  height: 100px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #e8e8e8;
}
.href-admin{
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding:10px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
}
.href-admin:hover{
  background-color:#808080;
}
.logo-connexion{
  width : 100px;
  height : 100px;
}

.profile-button{
    width: 40px;
    height: 37px;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
}

/*-------------------- form page ---------------------------------------*/
.Form {
  background-color: white;
  border-radius: 0 15px 15px 15px;
  font-family: "Josefin Sans", sans-serif;
  padding: 3rem;
  box-shadow: inset gray 20px 0px 5px -12px;
}

.labelRegister {
  display: flex;
  font-size: 20px;
  font-weight: bolder;
}

.containerSign {
  width: 40vh;
}

.h3Div {
background-color: white;
width: 15rem;
padding: 4px;
border-radius: 15px 15px 0 0;
height: 2rem;
display: flex;
justify-content: center;
box-shadow: inset gray 20px 0px 5px -12px;
}
.h3Register{
  margin-top: 10%;
  font-size: 30px;
  z-index: 1;
}
.divcenter {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.doubleDiv {
  display: flex;
  gap: 5vh;
  margin-top: 3vh;
  justify-content: space-between;
}

.inputSign {
  border-radius: 10px;
  margin-top: 5px;
  width: 68vh;
  padding: 1vh;
  background-color: #e9ecef;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.demiInput {
  border-radius: 10px;
  margin-top: 7px;
  width: 38vh;
  padding: 1vh;
  background-color: #e9ecef;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  border-color: #f1f1f1;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.triDiv {
  border-radius: 10px;
  margin-top: 7px;
  width: 30vh;
  padding: 1vh;
  background-color: #e9ecef;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  border-color: #f1f1f1;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.DivAllForm {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.LastDiv {
  display: flex;
  gap: 1vh;
  margin-top: 3vh;
}

.divLink{
display: flex;
justify-content: space-between;
gap:10vh;
font-size: 16px;
color: black;
margin-top:2vh;
}
.buttonSubmit{
margin: 5% 0% 0% 17%;
padding: 1vh;
width: 60%;
font-family: "Josefin Sans", sans-serif;
font-size: 20px;
background-color: black;
color: white;
border-radius: 10px;
font-weight: bolder;
border: none;
transition: 1s;
}
.inputText:hover{
color:black;
}
.buttonSubmit:hover{
transition: 1s;
background-color: grey;
}

/*----------------------------------------------------------------------------------------------No_User_navbar---------------*/

.no_user_navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5vh;
}

.nav_btn{
  font-family: "Josefin Sans", sans-serif;
  height: 32px;
  width: 105px;
  box-shadow: inset #888 9px 20px 5px -12px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}

.nav_btn:hover{
transform: translateY(-5px);
}

.nav_btn:active {
transform: translateY(2px);

}

.profile_first{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.btn-submit{
  background-color: black;
    height: 4vh;
    width: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    margin-top: 2vh;
}

/*------------------------------------------------------Post---------------------------*/

.posts-list{
  background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 50em;
    max-width: 600px;
    margin-top: 25px;
    margin-left: 5vh;
    margin-right: 5vh;
    box-shadow: inset gray 0px 1px 13px 0px;
}

.inputTitle {
  width: 96%;
  height: 24px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #e8e8e8;
}

.post-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-head-first{
  display: flex;
}

.post-forum{
  background-color: black;
    height: 4vh;
    width: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.p-forum{
  color: white;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}

/*-------------------------------------Notification----------------------------------*/

.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 23px;
}

.notification {
  position: fixed;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.notification.success {
  background-color: #4caf50; /* Vert pour les succès */
}

.notification.error {
  background-color: #f44336; /* Rouge pour les erreurs */
}

----------------------------------------------------/* Style global du footer */

.footer {
  margin-top: 5em;
  background-color: #000; /* Couleur noire pour le fond */
  color: #fff; /* Texte blanc */
  padding: 9em; /* Ajout de padding en haut et en bas */
  width: 100%; /* Prendre toute la largeur de la page */
  text-align: center; /* Centrer le contenu */
  position: relative;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around; /* Espacement entre les éléments */
  align-items: center;
  margin: 0 auto; /* Centrer le contenu */
  padding: 9em;
  background-color: #000; /* Couleur noire pour le fond */
  margin-top: 25px;

}

.footer-logo h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.footer-logo a:hover img {
  transform: scale(1.1); /* Agrandir légèrement au survol */
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #1abc9c; /* Couleur lors du survol */
}

/* Style pour les icônes des réseaux sociaux */
.footer-social a img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.footer-social a:hover img {
  transform: scale(1.5); /* Agrandir légèrement au survol */
}

/* Newsletter */
.footer-newsletter form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-newsletter input[type="email"] {
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  width: 250px;
  max-width: 100%;
}

.footer-newsletter button {
  padding: 8px 15px;
  background-color: #1abc9c;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-newsletter button:hover {
  background-color: #16a085;
}

.footer-p {
  color: #fff;
}