body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.indexBody{
  background-color: white;
  color: black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.indexBody.dark-mode {
  background-color: #121212;
  color: white;
}
.body_secondary.no-transition * {
  transition: none !important;
}
.indexBody.no-transition * {
  transition: none !important;
}
.body_secondary{
  background-color: black;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

.nav_third{
  display: flex;
  align-items: center;
}
  
  .logo {
    width: 91px;
    height: 40px;
  }

h1{
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

h3{
  font-family: "Josefin Sans", sans-serif;
}


.search-container {
  position: relative;
  display: inline-block;
}

.inpuText {
  padding: 3px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 30em;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.suggestions {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.suggestions p {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
}

.suggestions p:hover {
  background-color: #f0f0f0;
}
.profile_first{
  display:flex;
  align-items: center;
  flex-direction: column;
}
.black-frame {
  background-color: black;
  color: white;
  padding-block: 5%;
  margin-bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.white-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: -10px;
  margin-left: 5vh;
  margin-right: 5vh;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode .white-content{
  background-color: #212020;
}
.white-content.no-transition * {
  transition: none !important;
}
.white-content-admin {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 90vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: -10px;
  margin-left: 5vh;
  margin-right: 5vh;
}
.main-index {
  display: flex;
  justify-content: space-around;
}

.white-content-secondary {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 20%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: -10px;
  transition: background-color 0.5s, color 0.5s;
}
.dark-mode .white-content-secondary{
  background-color: #212020;
}
.white-content-secondary.no-transition * {
  transition: none !important;
}

/* White Content Milieu */
.post-container-admin{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2%;
}
.post-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark-mode .post-container{
  background-color: #121212;
  color: white;
}
.post-container.no-transition * {
  transition: none !important;
}
.post-header {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-options {
  display: flex;
  gap: 15px;
  flex-grow: 1;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark-mode .post-option{
  color: white;
}
.post-option.no-transition * {
  transition: none !important;
}
.post-option {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
   font-family: "Josefin Sans", sans-serif;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    transition: 1s;
    border-radius: 15px;
}

.post-option:hover {
  transition: 1s;
  transform: scale(1.05); /* Légère augmentation de taille au hover */
  border-radius: 15px;
}

.iceberg-select select {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 14px;
}



.post-textarea {
  width: 96%;
  height: 100px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #e8e8e8;
}
.href-admin{
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding:10px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
}
.href-admin:hover{
  background-color:#808080;
}
.logo-connexion{
  width : 100px;
  height : 100px;
}

/*-------------------- form page ------------------------------*/
.Form {
  background-color: white;
  border-radius: 0 15px 15px 15px;
  font-family: "Josefin Sans", sans-serif;
  padding: 3rem;
  box-shadow: inset gray 20px 0px 5px -12px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark-mode .Form{
  background-color: #212020;
  color: white;
  box-shadow: none;
}
.Form.no-transition * {
  transition: none !important;
}
.labelRegister {
  display: flex;
  font-size: 20px;
  font-weight: bolder;
}

.containerSign {
  width: 40vh;
}

.h3Div {
background-color: white;
width: 15rem;
padding: 4px;
border-radius: 15px 15px 0 0;
height: 2rem;
display: flex;
justify-content: center;
box-shadow: inset gray 20px 0px 5px -12px;
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark-mode .h3Div{
  background-color: #212020;
  color: white;
  box-shadow:none ;
}
.h3Div.no-transition * {
  transition: none !important;
}
.h3Register{
  margin-top: 10%;
  font-size: 30px;
  z-index: 1;
}
.divcenter {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.doubleDiv {
  display: flex;
  gap: 5vh;
  margin-top: 3vh;
  justify-content: space-between;
}

.inputSign {
  border-radius: 10px;
  margin-top: 5px;
  width: 68vh;
  padding: 1vh;
  background-color: #e9ecef;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.demiInput {
  border-radius: 10px;
  margin-top: 7px;
  width: 38vh;
  padding: 1vh;
  background-color: #e9ecef;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  border-color: #f1f1f1;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.triDiv {
  border-radius: 10px;
  margin-top: 7px;
  width: 30vh;
  padding: 1vh;
  background-color: #e9ecef;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  border-color: #f1f1f1;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.DivAllForm {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.LastDiv {
  display: flex;
  gap: 1vh;
  margin-top: 3vh;
}

.divLink{
display: flex;
justify-content: space-between;
gap:10vh;
font-size: 16px;
color: black;
margin-top:2vh;
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark-mode .divLink{
  color: white;
}
.divLink.no-transition * {
  transition: none !important;
}
.buttonSubmit{
margin: 5% 0% 0% 17%;
padding: 1vh;
width: 60%;
font-family: "Josefin Sans", sans-serif;
font-size: 20px;
background-color: black;
color: white;
border-radius: 10px;
font-weight: bolder;
border: none;
transition: 1s;
}
.inputText:hover{
color:black;
}
.buttonSubmit:hover{
transition: 1s;
background-color: grey;
}

/*----------------------------------------------------------------------------------------------No_User_navbar---------------*/

.no_user_navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5vh;
}

.nav_btn{
font-family: "Josefin Sans", sans-serif;
height: 3vh;
width: 12vh;
box-shadow: inset gray 9px 20px 5px -12px;
border-radius: 20px;
cursor: pointer;
transition: 1s;
}

.nav_btn:hover{
transform: translateY(-5px);
}

.nav_btn:active {
transform: translateY(2px);

}